.about {
  background-image: url("../img/about-rectangle1.svg"),
                    url("../img/about-rectangle2.svg"),
                    url("../img/about-rectangle3.svg"),
                    url("../img/about-rectangle4.svg");
  background-position: top 46px left calc(50% - 590px),
                       top 444px left calc(50% - 670px),
                       top 147px left calc(50% + 36px),
                       top 396px left calc(50% + 765px);
  background-color: transparent;
  background-size: auto;
  background-repeat: no-repeat;
  padding-left: 15px;
  padding-right: 15px;
}

.about__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 42px;
}

.about__wrapper-company {
  padding-top: 39px;
  padding-bottom: 69px;
  padding-left: 182px;
}

.about__list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about__item {
  width: calc(50% - 15px);
  margin-bottom: 30px;
  display: flex;
}

.about__link {
  display: block;
  padding: 94px 43px 50px 42px;
  background-color: $white;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #ebebeb;
  border-left: 3px solid $blue;
  text-decoration: none;
  max-width: 570px;
  min-height: 299px;
}

.about__item-icon {
  position: absolute;
  top: 40px;
  left: 45px;
  fill: $blue;
}

.about__item-title {
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $blue;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.about__item-text {
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  margin: 0;
  padding: 0;
}

.about__link:hover,
.about__link:focus {
  cursor: pointer;
  border: 1px solid $blue;
  background-color: $blue;
}

.about__link:hover > .about__item-icon,
.about__link:focus > .about__item-icon {
  fill: $white;
}

.about__link:hover > .about__item-title,
.about__link:focus > .about__item-title {
  color: $white;
}

.about__link:hover > .about__item-text,
.about__link:focus > .about__item-text {
  color: $white;
}

.about__link:active {
  border: 1px solid rgba(1, 178, 255, 0.7);
  background-color: rgba(1, 178, 255, 0.7);
}

.about__title {
  position: relative;
  margin-bottom: 21px;
  padding: 0;
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
}

.about__title::before {
  content: "2005";
  position: absolute;
  top: 54px;
  left: -278px;
  background-image: url("../img/about-background.png");
  background-size: 305px 115px;
  background-repeat: no-repeat;
  background-color: #00b35d;
  background-position: 5px 51px;
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 156.248px;
  line-height: 220px;
  color: transparent;
  transform: rotate(-90deg);
  background-clip: text;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .about__title::before {
    content: "";
    top: 5px;
    left: -212px;
    width: 220px;
    height: 317px;
    background-image: url("../img/about-2005.png");
    background-size: 220px 317px;
    background-color: transparent;
    transform: rotate(0deg);
    background-position: left top;
   }
}

.about__text {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.about__text-laptop-dots {
  display: none;
}

.about__detail {
  margin-top: 17px;
  width: 180px;
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $blue;

  &:hover,
  &:focus {
    color: $white;
    background-color: $blue;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(1, 178, 255, 0.7);
  }
}

@media (max-width: $laptop-width) {
  .about {
    background-image: url("../img/about-rectangle3.svg");
    background-position: top 90px left calc(50% + 262px);
    padding-left: 25px;
    padding-right: 25px;
  }

  .about__wrapper {
    padding-top: 54px;
    padding-bottom: 59px;
    box-sizing: border-box;
    max-width: 1023px;
  }

  .about__wrapper-company {
    padding-top: 26px;
    padding-bottom: 24px;
    padding-left: 188px;
  }

  .about__list {
    margin: 0;
    max-width: none;
  }

  .about__link {
    padding: 66px 15px 19px 26px;
    width: 100%;
    min-height: 232px;
  }

  .about__item-icon {
    top: 24px;
    left: 25px;
  }

  .about__item-title {
    margin-bottom: 9px;
  }

  .about__item-icon-clock {
    width: 29px;
    height: 35px;
  }

  .about__item-icon-provider {
    width: 32px;
    height: 32px;
  }

  .about__item-icon-detective {
    width: 30px;
    height: 26px;
  }

  .about__item-icon-coast {
    width: 32px;
    height: 32px;
  }

  .about__title {
    font-size: 32px;
    line-height: 140.62%;
    margin-top: 0;
    margin-bottom: 26px;

    &::before {
      left: -298px;
      font-size: 178.324px;
      line-height: 251px;
      background-image: url("../img/about-background-lap.png");
      background-size: 347px 131px;
      background-position: 7px 58px;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .about__title::before {
    content: "";
    top: 0;
    left: -210px;
    width: 244px;
    height: 362px;
    background-image: url("../img/about-2005-lap.png");
    background-size: 244px 362px;
    background-position: left top;
   }
}

  .about__text-laptop-dots {
    display: inline;
  }

  .about__text-laptop {
    display: none;
  }

  .about__detail {
    margin-top: 20px;
  }
}

@media (max-width: $mobile-width) {
  .about {
    background-image: url("../img/about-rectangle3.svg");
    background-position: top 652px left calc(50% + 156px);
    padding-left: 15px;
    padding-right: 15px;
  }

  .about__wrapper {
    min-width: 290px;
    padding-top: 37px;
    padding-bottom: 57px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .about__wrapper-company {
    padding-top: 37px;
    padding-bottom: 9px;
    padding-left: 0;
  }

  .about__list {
    display: flex;
    flex-direction: column;
  }

  .about__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .about__item:nth-last-of-type(-n+2) {
    margin-bottom: 20px;
  }

  .about__link {
    padding: 71px 14px 24px 22px;
    max-width: 737px;
    width: 100%;
    min-height: 232px;
  }

  .about__item-icon {
    top: 24px;
    left: 22px;
  }

  .about__item-title {
    font-size: 20px;
    line-height: 140.62%;
    width: 246px;
  }

  .about__item-icon-clock {
    width: 29px;
    height: 35px;
  }

  .about__item-icon-provider {
    width: 32px;
    height: 32px;
  }

  .about__item-icon-detective {
    width: 30px;
    height: 26px;
  }

  .about__item-icon-coast {
    width: 32px;
    height: 32px;
  }

    .about__title {
      font-size: 28px;
      margin-bottom: 21px;

      &::before {
        content: none;
      }
  }

  .about__text {
    padding-left: 1px;
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .about__detail {
    margin-top: 28px;
    width: 100%;
  }
}
