.footer {
  padding-top: 65px;
}

.footer-contact {
    max-width: 1411px;
    margin: 0 auto;
    padding-bottom: 59px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.footer-contact::before {
  content: "";
  position: absolute;
  left: calc((100vw - 1394px) / -2);
  bottom: 0;
  width: 100vw;
  height: 1px;
  background-color: #626962;
  opacity: 0.2;
}

.social {
  margin-right: 206px;
}

.social-list {
  margin: 0;
  margin-top: 54px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  margin-right: 15px;
}

.social-list__social-icon {
  fill: #cdcdcd;
}

.social-link {
  cursor: pointer;
  display: inline-block;
}

.social-link:hover .social-list__social-icon,
.social-link:focus .social-list__social-icon {
  fill: $blue;
}

.social-link:active .social-list__social-icon {
  fill: rgba(1, 178, 255, 0.3);
}

.footer-title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
}

.footer-list-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 577px;
}

.section {
  margin-right: 65px;
  width: 243px;
}

.footer-list-section-item {
  width: 270px;
  box-sizing: border-box;
}

.footer-list-section-item:nth-child(even) {
  letter-spacing: 0.03em;
}

.regarding {
  margin: 0;
  margin-top: 41px;
  padding: 0;
  width: 208px;
  list-style: none;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #1b2d37;
  opacity: 0.5;
}

.contacts {
  margin-left: auto;
}

.footer-license {
  max-width: 1411px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
}

.license-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-license__copyright {
  margin-right: 74px;
}

.footer-license__year {
  margin-right: 142px;
}

.footer-link {
  text-decoration: none;
  cursor: pointer;
  color: #1b2d37;

  &:hover,
  &:focus {
    color: $blue;
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $laptop-width) {
  .footer {
    padding-top: 17px;
  }

  .footer-contact {
    width: 720px;
  }

  .footer-license__copyright {
    display: none;
  }
}
