.form {
  background-image: url("../img/form-rectangle1.svg"),
                    url("../img/form-rectangle2.svg"),
                    url("../img/form-airplane@1x.png"),
                    url("../img/main-rectangles@1x.png");
  background-position: top 42px left calc(50% + 816px),
                       top 287px left calc(50% + 790px),
                       top 161px left calc(50% - 354px),
                       top -178px left calc(50% - 854px);
  background-size: auto, auto, 511px auto, 1920px auto;
  background-repeat: no-repeat;
  background-color: $blue;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .form {
  background-image: url("../img/form-rectangle1.svg"),
                    url("../img/form-rectangle2.svg"),
                    url("../img/form-airplane@2x.png"),
                    url("../img/main-rectangles@2x.png");
  }
}

.form-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 113px;
  display: flex;
  justify-content: flex-end;
}

.form-area {
  width: 570px;
}

.form-area h3 {
  margin: 0;
  margin-left: -3px;
  margin-bottom: 10px;
  padding: 0;
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;
}

.form__text {
  margin: 0;
  margin-left: 2px;
  margin-bottom: 51px;
  padding: 0;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.filter__type {
  margin-bottom: 37px;
  padding: 0;
  border: none;
}

.filter__type-input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter__name {
  padding: 0;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  border: none;
  background-color: #19baff;
  box-sizing: border-box;
  outline: none;
  border-radius: 0;
}

.filter__name:hover,
.filter__name:focus {
  outline: none;
  background-color: #52cbff;
}

.filter__name:active {
  background-color: #19baff;
}

.filter__name::placeholder {
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.filter__textarea {
  padding: 11px 17px;
  width: 100%;
  margin-top: 40px;
  resize: none;
  overflow: hidden;
}

.filter__input {
  padding: 14px 16px;
  width: 270px;
}

.form-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-button {
  width: 270px;
  border: 1px solid $white;
  color: $white;

  &:hover,
  &:focus {
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
  }

  &:active {
    border: 1px solid $white;
    color: $white;
  }
}

.filter__checkbox {
  width: 230px;
  padding-left: 30px;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;
  position: relative;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.filter__input-checkbox {
    &:checked + .filter__checkbox::after {
    content: "";
    position: absolute;
    width: 7.5px;
    height: 4.5px;
    left: 4px;
    top: 9px;
    background-image: url("../img/checkbox.svg");
    background-size: 9px 6px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
  }

  & + .filter__checkbox::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 15px;
    height: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: $white;
  }
}

@media (max-width: $laptop-width) {
  .form {
    background-image: none;
    padding-left: 25px;
    padding-right: 25px;
  }

  .form-wrapper {
    padding-top: 80px;
    padding-bottom: 105px;

    &::before {
      content: none;
    }
  }

  .form-area {
    width: 100%;
  }

  .form-area h3 {
    font-size: 32px;
    line-height: 140.62%;
    margin-bottom: 17px;
  }

  .form__text {
    margin-bottom: 55px;
  }

  .filter__type {
    margin-bottom: 39px;
  }

  .filter__input {
    width: calc(50% - 17px);
  }

  .filter__textarea {
    margin-top: 42px;
    height: 160px;
  }

  .form-button {
    width: 280px;
  }

  .filter__checkbox {
    width: 235px;
  }

  .filter__input-checkbox {
    &:checked + .filter__checkbox::after {
      left: 0;
      top: 9px;
    }

    & + .filter__checkbox::before {
      left: -4px;
      top: 3px;
    }
  }
}

@media (max-width: $mobile-width) {
  .form {
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-wrapper {
    min-width: 290px;
    padding-top: 30px;
    padding-bottom: 42px;
  }

  .form-area h3 {
    font-size: 28px;
    margin-bottom: 13px;
  }

  .form__text {
    margin-bottom: 26px;
  }

  .filter__type {
    margin-bottom: 24px;
  }

  .filter__type-input {
    display: block;
  }

  .filter__input {
    margin-bottom: 32px;
    width: 100%;
  }

  .filter__textarea {
    margin-top: 0;
    height: 104px;
  }

  .form-button {
    margin-bottom: 31px;
    padding: 14px 13px;
    width: 100%;
  }

  .form-submit {
    display: block;
  }

  .filter__checkbox {
    display: block;
    margin-left: 5px;
  }

  .filter__input-checkbox {
    &:checked + .filter__checkbox::after {
      left: 0px;
      top: 7px;
    }

    & + .filter__checkbox::before {
      left: -5px;
      top: 1px;
    }
  }
}
