.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1411px;
  margin: 0 auto;
  padding-top: 33px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logo-title {
  width: 148px;
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 18px;
  margin: 0;
  margin-left: 16px;
  padding: 0;
  color: #203c42;
}

.logo-title-color {
  color: $white;
}

.logo-title-min {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}

.site-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__link {
  text-decoration: none;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.site-list__link:hover,
.site-list__link:focus {
  color: $blue;
}

.site-list__link:active {
  color: rgba(1, 178, 255, 0.7);
}

.site-list__link-email {
  margin-right: 88px;
}

.site-list__button {
  width: 180px;
  margin-left: 50px;
  border: 1px solid $white;
  color: $white;
}

.site-list__button:hover,
.site-list__button:focus {
  border: 1px solid $blue;
  color: $blue;
}

.site-list__button:active {
  border: 1px solid rgba(1, 178, 255, 0.7);
  color: rgba(1, 178, 255, 0.7);
}

.site-list__email-icon {
  margin-right: 20px;
}

.site-list__phone-icon {
  margin-right: 17px;
}

.site-list__icon {
  fill: $blue;
}

.site-list__link:hover .site-list__icon,
.site-list__link:focus .site-list__icon {
  fill: $white;
}

.site-list__link:active .site-list__icon {
  fill: rgba(255, 255, 255, 0.7);
}
