.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.header-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1412px;
  padding-top: 33px;
  padding-bottom: 33px;
}

.logo {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.logo-title {
  width: 148px;
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 18px;
  margin: 0;
  margin-left: 16px;
  padding: 0;
  color: #203c42;
}

.logo-title-color {
  color: $white;
}

.logo-title-min {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}

.header-nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav__link {
  text-decoration: none;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: $blue;
}

.header-nav__link:active {
  color: rgba(1, 178, 255, 0.7);
}

.header-nav__link-email {
  margin-right: 88px;
}

.header-nav__button {
  width: 180px;
  margin-left: 50px;
  border: 1px solid $white;
  color: $white;
}

.header-nav__button:hover,
.header-nav__button:focus {
  border: 1px solid $blue;
  color: $blue;
}

.header-nav__button:active {
  border: 1px solid rgba(1, 178, 255, 0.7);
  color: rgba(1, 178, 255, 0.7);
}

.header-nav__email-icon {
  margin-right: 20px;
}

.header-nav__phone-icon {
  margin-right: 17px;
}

.header-nav__icon {
  fill: $blue;
}

.header-nav__link:hover .header-nav__icon,
.header-nav__link:focus .header-nav__icon {
  fill: $white;
}

.header-nav__link:active .header-nav__icon {
  fill: rgba(255, 255, 255, 0.7);
}

@media (max-width: $laptop-width) {
  .header {
    padding-left: 25px;
    padding-right: 25px;
  }

  .header-wrapper {
    max-width: 1023px;
    padding-top: 18px;
  }

  .header-nav__list span {
    display: none;
  }

  .header-nav__link-email {
    margin-right: 34px;
  }

  .header-nav__email-icon {
    margin-right: 0;
    width: 25px;
    height: 19px;
  }

  .header-nav__phone-icon {
    margin-right: 0;
    width: 24px;
    height: 24px;
  }

  .header-nav__button {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-wrapper {
    max-width: 767px;
    min-width: 287px;
    padding-top: 17px;
  }

  .logo-image {
    width: 38px;
    height: 38px;
  }

  .logo-title-color {
    display: none;
  }

  .header-nav__list {
    padding-bottom: 3px;
  }

  .header-nav__link-email {
    margin-right: 23px;
  }
}
