.main-wrapper {
  padding-top: 316px;
  padding-bottom: 275px;
  background-image: url("../img/main-background.png"),
                    url("../img/main-rectangles.png");
  background-size: 100% 878px, auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #1b2d37;
}

.main-wrapper__content {
  max-width: 1411px;
  margin: 0 auto;
  padding: 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -58px;
    left: 785px;
    width: 705px;
    height: 515px;
    background-image: url("../img/main-smart.png");
    background-size: 705px 515px;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.main__title {
  margin: 0;
  margin-left: -5px;
  margin-bottom: 26px;
  padding: 0;
  width: 718px;
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;
}

.main__description {
  margin: 0;
  margin-left: 94px;
  margin-bottom: 44px;
  padding: 0;
  width: 620px;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $white;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: -94px;
    width: 66px;
    height: 2px;
    background-color: $white;
  }
}

.main__button-help {
  margin-left: 94px;
  padding: 17px 17px;
  color: $white;
  background-color: $blue;
  width: 407px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.main__button-help:hover,
.main__button-help:focus {
  color: $blue;
  background-color: $white;
}

.main__button-help:active {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(1, 178, 255, 0.7);
}

.main__scroll {
  position: absolute;
  bottom: -148px;
  left: -38px;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.5;
  transform: rotate(-90deg);
  text-decoration: none;
  cursor: pointer;
}

.main__scroll:hover,
.main__scroll:focus {
  opacity: 0.7;
}

.main__scroll:active {
  opacity: 0.9;
}

@media (max-width: $laptop-width) {
  .main-wrapper {
    padding-top: 188px;
    padding-bottom: 163px;
    background-image: url("../img/main-background-lap.png"),
                      url("../img/main-rectangles-lap.png");
    background-size: 100% 686px, auto;
  }

  .main__scroll {
    display: none;
  }

  .main-wrapper__content {
    margin: 0;
    padding-left: 93px;
    max-width: 720px;

    &::after {
      top: -75px;
      left: 510px;
      width: 465px;
      height: 340px;
      background-image: url("../img/main-smart-lap.png");
      background-size: 465px 340px;
    }
  }

  .main__title {
    margin-bottom: 29px;
    width: 470px;
    font-size: 60px;
    line-height: 70px;
  }

  .main__description {
    width: 356px;
    margin-left: 46px;
    margin-bottom: 55px;
    font-size: 18px;
    line-height: 156.8%;

    &::before {
      top: 16px;
      left: -48px;
      width: 33px;
      height: 2px;
    }
  }

  .main__button-help {
    margin-left: 46px;
    width: 379px;
  }
}

@media (max-width: $mobile-width) {
  .main-wrapper {
    padding-top: 287px;
    padding-bottom: 70px;
    background-image: url("../img/main-background-mobile.png"),
                      url("../img/main-rectangles-mobile.png");
    background-size: 100% 647px, auto;
  }

  .main-wrapper__content {
    padding-left: 101px;
    max-width: 287px;

    &::after {
      top: -195px;
      left: 107px;
      width: 301px;
      height: 220px;
      background-image: url("../img/main-smart-mobile.png");
      background-size: 301px 220px;
    }
  }

  .main__title {
    margin-bottom: 26px;
    width: 277px;
    font-size: 40px;
    line-height: 47px;
  }

  .main__description {
    width: 245px;
    margin-left: 46px;
    margin-bottom: 43px;
    font-size: 16px;
  }

  .main__button-help {
    margin-left: -2px;
    width: 287px;
  }

  .button-name__desktop {
    display: none;
  }

  .button-name__mobile {
    display: inline;
  }
}
