.main-wrapper {
  padding-top: 316px;
  padding-bottom: 275px;
  background-image: url("../img/main-smart.png"),
                    url("../img/main-rectangles.png"),
                    url("../img/main-background.png");
  background-size: auto, auto, 100% 878px;
  background-position: left calc(50% + 431px) top 258px, center top, center top;
  background-repeat: no-repeat;
  background-color: #1b2d37;
}

.main-wrapper__content {
  max-width: 1412px;
  margin: 0 auto;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.main-wrapper__content h2 {
  margin: 0;
  margin-left: -5px;
  margin-bottom: 26px;
  padding: 0;
  width: 750px;
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;
}

.main-wrapper__content p {
  margin: 0;
  margin-left: 94px;
  margin-bottom: 44px;
  padding: 0;
  width: 620px;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $white;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: -94px;
    width: 66px;
    height: 2px;
    background-color: $white;
  }
}

.main__button-help {
  margin-left: 94px;
  padding: 17px 17px;
  color: $white;
  background-color: $blue;
  width: 407px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.main__button-help:hover,
.main__button-help:focus {
  color: $blue;
  background-color: $white;
}

.main__button-help:active {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(1, 178, 255, 0.7);
}

.main__scroll {
  position: absolute;
  bottom: -148px;
  left: -23px;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.5;
  transform: rotate(-90deg);
  text-decoration: none;
  cursor: pointer;
}

.main__scroll:hover,
.main__scroll:focus {
  opacity: 0.7;
}

.main__scroll:active {
  opacity: 0.9;
}

.mobile {
  display: none;
}

@media (max-width: $laptop-width) {
  .main-wrapper {
    padding-top: 188px;
    padding-bottom: 163px;
    background-image: url("../img/main-smart-lap.png"),
                      url("../img/main-rectangles-lap.png"),
                      url("../img/main-background-lap.png");
    background-size: auto, auto, 100% 686px;
    background-position: left calc(50% + 358px) top 113px, center top, center top;
  }

  .main__scroll {
    display: none;
  }

  .main-wrapper__content {
    max-width: 720px;
    padding-left: 93px;
    padding-right: 25px;
  }

  .main-wrapper__content h2 {
    margin-bottom: 29px;
    width: 470px;
    font-size: 60px;
    line-height: 70px;
  }

  .main-wrapper__content p {
    width: 356px;
    margin-left: 46px;
    margin-bottom: 55px;
    font-size: 18px;
    line-height: 156.8%;

    &::before {
      top: 16px;
      left: -48px;
      width: 33px;
      height: 2px;
    }
  }

  .main__button-help {
    margin-left: 46px;
    width: 379px;
  }
}

@media (max-width: $mobile-width) {
  .main-wrapper {
    padding-top: 287px;
    padding-bottom: 70px;
    background-image: url("../img/main-smart-mobile.png"),
                      url("../img/main-rectangles-mobile.png"),
                      url("../img/main-background-mobile.png");
    background-size: auto, auto, 100% 647px;
    background-position: left calc(50% + 16px) top 92px, left calc(50% - 1px) top, center top;
  }

  .main-wrapper__content {
    padding-left: 5px;
    width: 287px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-wrapper__content h2 {
    margin-bottom: 26px;
    width: 277px;
    font-size: 40px;
    line-height: 47px;
  }

  .main-wrapper__content p {
    width: 245px;
    margin-left: 46px;
    margin-bottom: 43px;
    font-size: 16px;
  }

  .main__button-help {
    margin-left: -2px;
    width: 287px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: inline;
  }
}
