.modal {
  display: none;
  position: fixed;
  width: 490px;
  margin: 0 auto;
  padding: 29px 37.28px 35px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $blue;
  box-sizing: border-box;
  z-index: 15;
}

.modal__show {
  display: block;
}

.scroll-off {
  overflow: hidden;
}

.modal h3 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 140.62%;
  color: $white;
}

.modal__text {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  width: 97%;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.modal__filter-type {
  padding: 0;
  border: none;
}

.modal__filter-name {
  margin-bottom: 30px;
  padding: 0;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  border: none;
  background-color: #19baff;
  box-sizing: border-box;
  outline: none;
  border-radius: 0;
}

.modal__filter-name::placeholder {
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.modal__filter-name:hover,
.modal__filter-name:focus {
  outline: none;
  background-color: #52cbff;
}

.modal__filter-name:active {
  background-color: #19baff;
}

.modal__input {
  padding: 14px 16px;
  width: 100%;
}

.modal__textarea {
  margin-bottom: 24px;
  padding: 11px 17px;
  width: 100%;
  resize: none;
  overflow: hidden;
}

.modal-button {
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid $white;
  color: $white;

  &:hover,
  &:focus {
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
  }

  &:active {
    border: 1px solid $white;
    color: $white;
  }
}

.modal__checkbox {
  display: inline-block;
  padding-left: 50px;
  padding-right: 5px;
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;
  position: relative;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.modal__input-checkbox {
    &:checked + .modal__checkbox::after {
    content: "";
    position: absolute;
    width: 7.5px;
    height: 4.5px;
    left: 4px;
    top: 11px;
    background-image: url("../img/checkbox.svg");
    background-size: 9px 6px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  & + .modal__checkbox::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 5px;
    width: 15px;
    height: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: $white;
  }
}

.page-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.modal__close {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  width: 17px;
  height: 17px;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 1px;
    background-color: $white;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.modal__close:hover::before,
.modal__close:hover::after,
.modal__close:focus::before,
.modal__close:focus::after {
  background-color: rgba(255, 255, 255, .7);
}

.modal__close:active::before,
.modal__close:active::after {
  background-color: $white;
}

.page-overlay__show {
  display: block;
}

