.services {
  background-color: #1b2d37;
  padding-left: 15px;
  padding-right: 15px;
}

.services-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 88px;
  padding-bottom: 127px;
}

.services h3 {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item {
  margin-top: 30px;
  width: 31.62526%;
}

.services__item:nth-child(3n+5) {
  margin-right: auto;
  margin-left: 30px;
  outline: 1px solid red;
}

.services__item-link {
  text-decoration: none;
  display: block;
  padding: 50px 45px;
  max-width: 370px;
  min-height: 620px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.5;
  }

  &:active::before {
    opacity: 0.8;
  }
}

.services__item-link-production::before {
  background-image: url("../img/services-image1.png");
  background-repeat: no-repeat;
  background-size: 100% 620px;
  background-color: transparent;
}

.services__item-link-print::before {
  background-image: url("../img/services-image2.png");
  background-repeat: no-repeat;
  background-size: 100% 620px;
  background-color: transparent;
}

.services__item-link-accessories::before {
  background-image: url("../img/services-image3.png");
  background-repeat: no-repeat;
  background-size: 100% 620px;
  background-color: transparent;
}

.services__item-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 63px;
  height: 63px;
  background-color: $blue;
}

.services__item-arrow::before {
  position: absolute;
  content: "";
  top: 29px;
  right: 29px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  width: 5px;
  height: 5px;
  transform: rotate(-45deg);
}

.services__item h4 {
  position: absolute;
  width: 173px;
  top: 50px;
  left: 45px;
  right: 45px;
  margin: 0;
  padding: 0;
  font-family: $font-roboto-condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $white;
}

@media (max-width: $laptop-width) {
  .services {
    padding-left: 25px;
    padding-right: 25px;
  }

  .services-wrapper {
    padding-top: 49px;
    padding-bottom: 78px;
  }

  .services h3 {
    font-size: 32px;
    line-height: 140.62%;
    width: 613px;
  }

  .services__list {
    margin: 0;
    max-width: none;
  }

  .services__item {
    margin-right: 0;
    margin-top: 46px;
    width: 100%;
  }

  .services__item:nth-child(3n) {
    margin-right: 0;
  }

  .services__item:nth-child(-n+3) {
    margin-top: 46px;
  }

  .services__item:first-of-type {
    margin-top: 0;
  }

  .services__item-link {
    max-width: 100%;
    width: 100%;
    min-height: 256px;
  }

  .services__item-link-production::before {
    background-image: url("../img/services-image1-lap.png");
    background-size: 100% auto;
  }

  .services__item-link-print::before {
    background-image: url("../img/services-image2-lap.png");
    background-size: 100% auto;
  }

  .services__item-link-accessories::before {
    background-image: url("../img/services-image3-lap.png");
    background-size: 100% auto;
  }

  .services__item h4 {
    top: 39px;
    left: 42px;
    width: 160px;
  }

  .services__item-link-accessories .services__item h4 {
    top: 49px;
  }
}

@media (max-width: $mobile-width) {
  .services {
    padding-left: 15px;
    padding-right: 15px;
  }

  .services-wrapper {
    padding-top: 50px;
    padding-bottom: 64px;
    min-width: 290px;
  }

  .services h3 {
    margin-left: 9px;
    font-size: 28px;
    width: auto;
    margin-bottom: 42px;
  }

  .services__list {
    display: flex;
    flex-direction: column;
  }

  .services__item {
    margin-top: 30px;
  }

  .services__item:nth-child(-n+3) {
    margin-top: 30px;
  }

  .services__item:first-of-type {
    margin-top: 0;
  }

  .services__item-link {
    max-width: 737px;
  }

  .services__item-link-production::before {
    background-image: url("../img/services-image1-mobile.png");
  }

  .services__item-link-print::before {
    background-image: url("../img/services-image2-mobile.png");
  }

  .services__item-link-accessories::before {
    background-image: url("../img/services-image3-mobile.png");
  }

  .services__item h4 {
    top: 20px;
    left: 34px;
    width: 173px;
  }

  .services__item-link-accessories .services__item h4 {
    top: 30px;
    left: 35px;
  }
}
