$bg-color: #ffffff;
$white: #ffffff;
$blue: #00b2ff;
$font-roboto: "Roboto", "Arial", sans-serif;
$font-roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$font-ptmono: "PT Mono", "Arial", sans-serif;
$mobile-width: 320px;
